@import 'tailwindcss';

@theme {
  --font-ngs: 'font-ngs';
}

@font-face {
  font-family: 'font-ngs';
  src: url('$fonts/dfp-kakougothic-w5.ttf') format('truetype');
}

::-webkit-scrollbar {
  height: 15px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #a4abbf54;
  -webkit-border-radius: 1ex;
}

select {
  text-align-last: right;
}

option {
  background-color: #152238;
}
