@import 'tailwindcss';

@theme {
  --font-ngs: 'ngs-font', sans-serif;
}

@font-face {
  font-family: 'ngs-font';
  src: url('src/assets/fonts/ngs_font.ttf') format('truetype');
}

::-webkit-scrollbar {
  height: 15px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #a4abbf54;
  -webkit-border-radius: 1ex;
}

select {
  text-align-last: right;
}

option {
  background-color: #152238;
}
